{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact US</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    
  <link rel="stylesheet" href="{% static 'styles/contact_style.css' %}">  
</head>
<body>
    <div class="nav-bar">
        

            <li><a href="/">HOME</a></li>
            <li><a href="/stock">STOCK</a></li>
            <li><a href="/portfolio">ABOUT</a></li>
            <li><a href="#">CONTACT US</a></li>
        
    </div>
    
    <img src="{% static 'images/kalyan.jpg' %}" alt="kayan">
    <div class="upp">
    
        <!-- <h2 class="heading">hello</h2> -->
        <div class="maindiv">
            <h2>Contact Us At:</h2>
            <ul class="social-icon-list after-effect shutter-bottom">
                    <div class="fdiv">

                        <li class="fb"><a href="#" class="facbook"><i class="fab fa-facebook-f"></i></a></li>
                    </div>
                    <div class="tdiv">
                        
                        <li class="tw"><a href="#" class="twitter"><i class="fab fa-twitter"></i></a></li>
                    </div>
                    <div class="ldiv">
                        
                        <li class="li"><a href="#" class="linkedin"><i class="fab fa-linkedin-in"></i></a></li>   
                    </div>
                    <div class="gdiv">
                        
                        <li class="gh"><a href="#" class="git"><i class="fab fa-github"></i></a></li>
                    </div>
                </ul>
                
            </div>
        </div>
        </body>
</html>